<!doctype html>
<head>
	<title>{% block title %}Welcome{% endblock %} — foss4gph</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
	<link rel="stylesheet" type="text/css" href="{{ '/static/semantic/semantic.min.css'|url }}">
	<script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
	<script src="{{ '/static/semantic/semantic.min.js'|url }}"></script>

</head>

<!-- <body>
	<header>
		<h1>foss4gph</h1>
		<nav>
			<ul class="nav navbar-nav">
				<li{% if this._path == '/' %} class="active"{% endif
					%}><a href="{{ '/'|url }}">Welcome</a></li>
				{% for href, title in [
					['/blog', 'Blog'],
					['/projects', 'Projects'],
					['/about', 'About']
				] %}
					<li{% if this.is_child_of(href) %} class="active"{% endif
						%}><a href="{{ href|url }}">{{ title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</header>
	<div class="page">
		{% block body %}{% endblock %}
	</div>
	<footer>
		&copy; Copyright 2017 by foss4gph.
	</footer>
</body> -->

<body>
<!-- Page Contents -->
<div>
<!--1st Section-->
	<div id="first_section" class="ui vertical masthead center aligned segment">
		<div class="ui text container">
			<img src="{{ '/static/images/Foss4g_Logo.png'|url }}" class="ui medium centered image">
			<h1 id="header_title" class="ui header">
				FOSS4G PHILIPPINES
			</h1>
			<h3 id="header_subtitle">Promoting Free and Open Source Software for Geospatial Applications</h3>
<!-- 			<div class="ui big labels">
					<a class="ui green circular label"><i class="mail outline icon"></i></a>
					<a class="ui green circular label">2</a>
					<a class="ui green circular label">2</a>
			</div> -->
		</div>
	</div>
<!--2nd Section-->
	<div id="second_section" class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<div class="eight wide column">
					<h1 class="ui header">About FOSS4G PH</h1>
					<p>Since 2011, FOSS4G Philippines had been conducting workshops and talks to promote the use of free and open source technologies for geospatial applications.
					</p>
				</div>
				<div class="six wide right floated column">
					<img src="{{ '/static/images/Foss4g_Logo.png'|url }}" class="ui large rounded image">
					<!-- <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image"> -->
				</div>
			</div>
<!-- 			<div class="row">
				<div class="center aligned column">
					<a class="ui huge button">Check Them Out</a>
				</div>
			</div> -->
		</div>
	</div>
<!--3rd Section-->
	<div id="third_section" class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<!-- <div class="row"> -->
		    <div id="context2" class="row">
		    	<div class="eight wide column">
		    		<h1 class="ui header">FOSS4G PH TALKS 2017</h1>
		    	</div>
<!-- 			    	<div class="eight wide column"> -->
			    		<div class="ui secondary right floated menu">
			            <a class="ui item active" data-tab="event">Event</a>
			            <a class="item" data-tab="venue">Venue</a>
			            <a class="item" data-tab="program">Program</a>
			        </div>
<!-- 			    	</div> -->
						<div id="event_tab" class="ui active tab" data-tab="event">
						    <p>
						    	FOSS4G Philippines will conduct a series of talks on May 24, 2017 as a pre-conference event for the Philippine Geomatics Symposium 2017   - “Geospatial Digital Data for Development (Geospatial 3D): Acquisition, Modeling, Analysis, Visualization, and Applications of 3D Data”.
						    </p>
						</div>
		        <div id="venue_tab" class="ui tab" data-tab="venue">
		            <p>Add a map here.</p>
		            <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
		        </div>
		        <div id="program_tab" class="ui tab" data-tab="program">
		            <p>Add tentative program here.</p>
		            <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
		        </div>
		    </div>
			<!-- </div> -->
		</div>
	</div>
<!--4th Section-->
	<div id="fourth_section" class="ui vertical stripe segment">
		<div class="ui text container">
			<h1 class="ui header">Speakers</h1>
			<div class="ui three stackable cards">
	    <div class="card">
	        <div class="image">
	            <img src="{{ '/static/images/nan.jpg'|url }}">
	        </div>
	    </div>
	    <div class="card">
	        <div class="image">
	            <img src="{{ '/static/images/nan.jpg'|url }}">
	        </div>
	    </div>
	    <div class="card">
	        <div class="image">
	            <img src="{{ '/static/images/nan.jpg'|url }}">
	        </div>
	    </div>
	    <div class="card">
	        <div class="image">
	            <img src="{{ '/static/images/nan.jpg'|url }}">
	        </div>
	    </div>
	    <div class="card">
	        <div class="image">
	            <img src="{{ '/static/images/nan.jpg'|url }}">
	        </div>
	    </div>
	    <div class="card">
	        <div class="image">
	            <img src="{{ '/static/images/nan.jpg'|url }}">
	        </div>
	    </div>
	</div>

		</div>
	</div>

<!--5th Section-->
	<div id="fifth_section" class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<h1 class="ui header">Registration</h1>
			<form class="ui form">
  <div class="field">
    <label>First Name</label>
    <input name="first-name" placeholder="First Name" type="text">
  </div>
  <div class="field">
    <label>Last Name</label>
    <input name="last-name" placeholder="Last Name" type="text">
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input tabindex="0" class="hidden" type="checkbox">
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
		</div>
	</div>

<!-- Footer -->
	<div class="ui inverted vertical footer segment">
		<div class="ui container">
			<div class="ui stackable inverted divided equal height stackable grid">
				<div class="three wide column">
					<h4 class="ui inverted header">About</h4>
					<div class="ui inverted link list">
						<a href="#" class="item">Sitemap</a>
						<a href="#" class="item">Contact Us</a>
						<a href="#" class="item">Religious Ceremonies</a>
						<a href="#" class="item">Gazebo Plans</a>
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui inverted header">Services</h4>
					<div class="ui inverted link list">
						<a href="#" class="item">Banana Pre-Order</a>
						<a href="#" class="item">DNA FAQ</a>
						<a href="#" class="item">How To Access</a>
						<a href="#" class="item">Favorite X-Men</a>
					</div>
				</div>
				<div class="seven wide column">
					<h4 class="ui inverted header">Footer Header</h4>
					<p>Extra space for a call to action inside the footer that could help re-engage users.</p>
				</div>
			</div>
		</div>
	</div>
</div>




</body>

<script>
	$('#context2 .menu .item')
  .tab({
    // special keyword works same as above
    // context: 'parent'
  })
;
</script>